#mcts1 
{
    width:106px;/*for the vertical slider, this width is div.item's: width + 2 * borderWidth + paddingLeft + paddingRight */
    height:200px;
    margin-right: 40px;
    padding:14px;
    background: #f7f7f7 url(loading.gif) no-repeat 50% 50%;
    border:1px solid #ddd;
    box-shadow: 0px 1px 3px #CCCCCC;
    
    /* Do not alter the below settings*/
    position:relative;
    font-size:0px;
}
#mcts1>* {display:none;}
  
/*-------- div.item is each thumbnail's wrapper created by the javascript ------*/
#mcts1 div.item 
{
    width:100px;
    padding:2px;
    margin: 0 0 6px 0; /* the 6px specifies the distance between each thumbnail */
    background-color:White;
    border:1px solid #DDD;
    text-align:center;
    position:relative;/*??*/
}

#mcts1 img 
{
    border:none;
}
       
/*---------built-in navigation bullets--------*/
/* Note: the navBullets won't be available when "scrollByEachThumb" was set to false in the Javascript.*/
#mcts1 .navBullets
{
    display:none;
}


/*---------navigation buttons-------*/
     
/*---------navigation bullets--------*/

/* Note: When "ScrollAllInView" was set to true in the Javascript, the navBullets won't be displayed.*/
.navBullets
{
    /*display:none;*/ /*set it display:none when you want to hide it*/
	z-index:5;
	cursor:pointer;
	/*Specify the position of navigation buttons*/
	position:absolute;
	top:20px;
	left:220px;
	width:24px;
}
/*.navBullets div defines the style of each bullet*/
.navBullets div 
{
    width:8px; height:8px;
    background:transparent url(bullets.png) no-repeat 0 0;
    float:left;overflow:hidden;vertical-align:middle;cursor:pointer;
    margin-right:6px;/*margin-right determines the distance between each list item*/
    _position:relative;/*IE6 hack*/
}

.navBullets div.focus {background-position:0 -8px;}


/* --------- Others ------- */
#mcts1
{
	transform: translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}